/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/c4mx1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpJGGQtodbAb.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/c4mx1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpJGGQpodbAb.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/c4mx1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpJGGQRodQ.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpLqCBNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpLqCBNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpLqCBNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKOCxNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKOCxNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKOCxNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/c4m_1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpoqKQBwdw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/c4m_1mF4GcnstG_Jh1QH6ac4hNLeNyeYUporKQBwdw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/c4m_1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpolKQA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpLWChNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpLWChNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpLWChNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpL6DRNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpL6DRNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpL6DRNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKeDBNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKeDBNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKeDBNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKCDxNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKCDxNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKCDxNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKmDhNAVosiPw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKmDhNBVosiPw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Expanded';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKmDhNPVos.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
